body{
    background-color: #0a0c1b;
    color: #feffff;
  }
  
#header {
  background-color: #1c1a37;

  /* This code splits the background color in half so each column can have it's own color.
  That helps achieve the look of a purple overlay on the image in a simple way.
  The problem is that it's difficult to make the background switch from vertically split to horizontally split based on screen size. */
  
  /* height: 100%;
  background: linear-gradient(90deg, #1c1a37 50%, #ae5fe0 50%); */

  border-radius: 10px;
}

h1 {
  font-family: 'Lexend Deca', sans-serif;
  line-height: 1.5em;
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  font-size: 15px;
  color: #ffffff95;
}

.stats p {
  text-transform: uppercase;
  font-size: 12px;
  color: #ffffff85;
  letter-spacing: 1px;
}